

<div id="container">
    <div id="sideNav">
        <label for="sideNavSwitcherInput" id="sideNavSwitcherLabel">
        <div id="sideNavSwitcher">
            <input type="checkbox" id="sideNavSwitcherInput" style="display: none;" checked>
                <i id="closePanelIcon" class="fas fa-chevron-left" title="Hide Panel"></i>
                <i id="openPanelIcon" class="fas fa-chevron-right" title="Hide Panel"></i>
        </div>
        </label>
        <div id="sideNavInside">
            <div class="navbarBranding">
                <a href="/<%=user._id%>/projects"><i class="fas fa-arrow-left navbarBrandingTable"></i></a>
                <h3 class="navbarBrandingTable">Theme Preview </h3>
                <i class="fas fa-bars navbarBrandingTable"></i>
            </div>
            <div class="inputParentContainer">
                <div class="inputSubParentContainer">
                <div class="templateNameContainer">
                    <div class="templateNameContainerImage">
                        <img class="img-responsive img-rounded userImage" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
                    </div>
                    <div class="templateNameContainerDetails">
                        <p class="templateName"><strong>Template Name</strong></p>
                        <p class="projectName">Project Name</p>
                        <span class="user-status">
                            <i class="fa fa-circle onlineIcon"></i>
                            <span class="userName">User Name</span>
                          </span>
                    </div>
                </div>
                <div class="inputContainer">
                    <p class="headerMenu">General</p>
                    <div class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt dropdownSectionIcon"></i>
                            <p class="dropdownName">Dashboard</p>
                            <!-- <i class="fas fa-chevron-right dropdownIcon"></i> -->
                        </a>
                        <div class="sidebar-submenu">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                        </div>
                    </div>
                    <div class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt dropdownSectionIcon"></i>
                            <p class="dropdownName">Dropdown 2</p>
                            <!-- <i class="fas fa-chevron-right dropdownIcon"></i> -->
                        </a>
                        <div class="sidebar-submenu">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                        </div>
                    </div>
                    <p class="headerMenu">Styling</p>
                    <div class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt dropdownSectionIcon"></i>
                            <p class="dropdownName">Dropdown 3</p>
                            <!-- <i class="fas fa-chevron-right dropdownIcon"></i> -->
                        </a>
                        <div class="sidebar-submenu">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                        </div>
                    </div>
                    <div class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt dropdownSectionIcon"></i>
                            <p class="dropdownName">Dropdown 3</p>
                            <!-- <i class="fas fa-chevron-right dropdownIcon"></i> -->
                        </a>
                        <div class="sidebar-submenu">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                        </div>
                    </div>
                    <div class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt dropdownSectionIcon"></i>
                            <p class="dropdownName">Dropdown 3</p>
                            <!-- <i class="fas fa-chevron-right dropdownIcon"></i> -->
                        </a>
                        <div class="sidebar-submenu">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                        </div>
                    </div>
                    <div class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt dropdownSectionIcon"></i>
                            <p class="dropdownName">Dropdown 3</p>
                            <!-- <i class="fas fa-chevron-right dropdownIcon"></i> -->
                        </a>
                        <div class="sidebar-submenu">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                        </div>
                    </div>
                    <div class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt dropdownSectionIcon"></i>
                            <p class="dropdownName">Dropdown 3</p>
                            <!-- <i class="fas fa-chevron-right dropdownIcon"></i> -->
                        </a>
                        <div class="sidebar-submenu">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                        </div>
                    </div>
                    <div class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt dropdownSectionIcon"></i>
                            <p class="dropdownName">Dropdown 3</p>
                            <!-- <i class="fas fa-chevron-right dropdownIcon"></i> -->
                        </a>
                        <div class="sidebar-submenu">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                        </div>
                    </div>
                    <p class="headerMenu">Borders</p>
                    <div class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt dropdownSectionIcon"></i>
                            <p class="dropdownName">Dropdown 3</p>
                            <!-- <i class="fas fa-chevron-right dropdownIcon"></i> -->
                        </a>
                        <div class="sidebar-submenu">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                        </div>
                    </div>
                    <div class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt dropdownSectionIcon"></i>
                            <p class="dropdownName">Dropdown 3</p>
                            <!-- <i class="fas fa-chevron-right dropdownIcon"></i> -->
                        </a>
                        <div class="sidebar-submenu">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                        </div>
                    </div>
                    <div class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt dropdownSectionIcon"></i>
                            <p class="dropdownName">Dropdown 3</p>
                            <!-- <i class="fas fa-chevron-right dropdownIcon"></i> -->
                        </a>
                        <div class="sidebar-submenu">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                            <input type="text" placeholder="hello">
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="sidebarFooter">
                <button form="inputForm" id="inputSubmit">UPDATE</button>
            </div>
        </div>
    </div>
    <div id="mainContainer">
        
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<link rel="stylesheet" href="/templateOneStyle.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">



<script src="/js/templateOneJS.js"></script>

<% include partials/footer %>